<section class="creations">
	<div class="section__wrapper">
	<div class="section__top">
		<h2 class="section__heading">Our Creations</h2>
		<a href="#" class="link">See All
					<span class="arrows">
						<i class="icon fa fa-angle-right"></i>
						<i class="icon fa fa-angle-right"></i>
					</span>
				</a>
	</div>

<div class="gallery">
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-1.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Lake Annecy</h3>
		<p class="item__text">Aliquam erat volutpat. Integer finibus augue in neque eleifend, vitae auctor augue blandit. </p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-2.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Courchevel</h3>
		<p class="item__text">Nunc id libero lobortis, bibendum velit eget, placerat metus.</p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-3.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Lac du Bourget</h3>
		<p class="item__text">Aliquam erat volutpat. Integer finibus augue in neque eleifend, vitae auctor augue blandit. </p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-4.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Neque Eleifend</h3>
		<p class="item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi ipsum libero veritatis necessitatibus id? vitae auctor augue blandit. </p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-5.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Sit Dolor</h3>
		<p class="item__text">Aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-6.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Alierat Integer</h3>
		<p class="item__text">Aliquam erat volutpat. Integer finibus augue in neque eleifend, vitae auctor augue blandit. </p>
		</div>
	</div>
	<div class="gallery__item">
		<a href="#" class="item__img" style="background-image: url(./img/item-7.jpg)"></a>
		<div class="item__desc">
		<h3 class="item__heading">Finibus Autue</h3>
		<p class="item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio tempora numquam ipsam quaerat voluptatem incidunt a, quod iusto eos obcaecati!</p>
		</div>
	</div>
</div>
</div>
	
</section>