<header id="header" class="header">

	<nav class="header__nav">
		<ul class="header__menu">
			<li class="menu__item tab__heading"><a class="menu__link" href="#">Elegance</a></li>
			<li class="menu__item tab__heading"><a class="menu__link" href="#">Creation</a></li>
			<li class="menu__item tab__heading"><a class="menu__link" href="#">Family Office</a></li>
			<li class="menu__item tab__heading"><a class="menu__link" href="#">Experience</a></li>
		</ul>
	</nav>
	<div class="header__content">

		<div class="header__images">
			<div class="header__image tab__image" style="background-image: url(./img/main-1.jpg);"></div>
			<div class="header__image tab__image" style="background-image: url(./img/main-2.jpg);"></div>
			<div class="header__image tab__image" style="background-image: url(./img/main-3.jpg);"></div>
			<div class="header__image tab__image" style="background-image: url(./img/main-4.jpg);"></div>
		</div>
		<div class="header__desc">
			<div class="tab__text" data-mcs-theme="dark">
				<h2 class="header__heading">Elegance</h2>
				<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris lacus, efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim. Nunc molestie felis risus, vitae volutpat magna lobortis ac. </p>
				<p class="header__text">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc, efficitur lobortis orci sollicitudin et. </p>
				<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eius minus incidunt a, quam ea quos. Et quae, ipsa pariatur rem facere non aspernatur quos, laboriosam voluptas sed dolore earum labore. Aperiam accusamus quam saepe asperiores, vero provident nam blanditiis optio eveniet omnis quod commodi, maiores laboriosam unde totam facere dignissimos porro maxime voluptatum dolore aliquam adipisci. Veniam sequi est eveniet, quisquam ea modi enim vero numquam non quam, in sint, fugiat cum eaque quas quibusdam molestias rem blanditiis sapiente, qui voluptates? Inventore doloribus quis harum vero eius illo. Nobis sed alias molestiae sequi quos neque deserunt optio aliquid tempore?</p>
				<a href="#" class="link header__link">Read more 
					<span class="arrows">
						<i class="icon fa fa-angle-right"></i>
						<i class="icon fa fa-angle-right"></i>
					</span>
				</a>
			</div>
			<div class="tab__text" data-mcs-theme="dark">
				<h2 class="header__heading">Creation</h2>
				<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos neque expedita eaque assumenda deleniti nam aspernatur deserunt quisquam minima delectus.	 gue, varius eget luctus in, finibus non enim. Nunc molestie felis risus, vitae volutpat magna lobortis ac. </p>
				<p class="header__text">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc, efficitur lobortis orci sollicitudin et. </p>
				<a href="#" class="link header__link">Read more 
					<span class="arrows">
						<i class="icon fa fa-angle-right"></i>
						<i class="icon fa fa-angle-right"></i>
					</span>
				</a>
			</div>
			<div class="tab__text" data-mcs-theme="dark">
				<h2 class="header__heading">Family Office</h2>
				<p class="header__text">Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, rerum. Maecenas mauris lacus, efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim. Nunc molestie felis risus, vitae volutpat magna lobortis ac. </p>
				<p class="header__text">Nullam molestie vestibulum tortor, sed vulputate nisl commodo eget. Fusce et euismod orci. Sed imperdiet lectus nunc, efficitur lobortis orci sollicitudin et. </p>
				<a href="#" class="link header__link">Read more 
					<span class="arrows">
						<i class="icon fa fa-angle-right"></i>
						<i class="icon fa fa-angle-right"></i>
					</span>
				</a>
			</div>
			<div class="tab__text" data-mcs-theme="dark">
				<h2 class="header__heading">Experience</h2>
				<p class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere accumsan venenatis. Maecenas mauris lacus, efficitur ultricies pretium nec, cursus ut risus. Nullam felis augue, varius eget luctus in, finibus non enim. Nunc molestie felis risus, vitae volutpat magna lobortis ac. </p>
				<a href="#" class="link header__link">Read more 
					<span class="arrows">
						<i class="icon fa fa-angle-right"></i>
						<i class="icon fa fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>


	</div>


		</header>
