%regular{
	font-family: 'Roboto', $helvetica;
	font-weight: 400;
}
%light{
	font-family: 'Roboto', $helvetica;
	font-weight: 300;
}
%medium{
	font-family: 'Roboto', $helvetica;
	font-weight: 500;
}
%bold{
	font-family: 'Roboto', $helvetica;
	font-weight: 700;
}
%display{
	font-family: 'Playfair Display';
}